@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* width */
  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #faf2ed;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #faf2ed;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #dfbba6;
  }
  * {
    -webkit-tap-highlight-color: transparent;
  }

  .max-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .max-lines-2 {
    -webkit-line-clamp: 2;
  }
  .max-lines-3 {
    -webkit-line-clamp: 3;
  }
  .max-lines-4 {
    -webkit-line-clamp: 4;
  }
  .max-lines-5 {
    -webkit-line-clamp: 5;
  }
  .max-lines-6 {
    -webkit-line-clamp: 6;
  }
}

@layer utilities {
  .button {
    @apply bg-p-brown text-3xl _text-bold px-12 py-1 rounded-xl hover:bg-p-brown-dark;
  }
  ._text-bold-dark {
    @apply font-bold text-p-blue-dark;
  }
  ._text-bold {
    @apply font-bold text-p-blue;
  }
  ._text {
    @apply text-p-blue;
  }

  ._title {
    @apply _text-bold-dark whitespace-nowrap text-3xl xs:text-5xl sm:text-6xl md:text-7xl lg:text-8xl;
  }

  ._p-size {
    @apply text-xl xs:text-2xl sm:text-3xl;
  }
  ._max-lines-1 {
    @apply max-lines;
  }
  ._max-lines-2 {
    @apply max-lines max-lines-2;
  }
  ._max-lines-3 {
    @apply max-lines max-lines-3;
  }
  ._max-lines-4 {
    @apply max-lines max-lines-4;
  }
  ._max-lines-5 {
    @apply max-lines max-lines-5;
  }
}
